climax~=0.4.0
lxml>=4.9.3
marshmallow==3.21.0; python_version >= "3.12"
marshmallow==3.20.1; python_version < "3.12"
networkx>=3.0
ordered-set~=4.1.0
pandas>=1.1,<2
numpy>=1.26,<2
# Extras required by pandas
openpyxl>=3.0.7,<3.1.1
# End extras
pylint>=3.0
pymysql~=1.0.2
pyyaml>=6.0
simplejson~=3.17.0
stopit~=1.1.2
sqlalchemy>=1.4.49,<2
sqlparse~=0.3.1
tabulate~=0.8.7
tlbx~=0.1.22
xlrd~=1.2.0
